html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Tahoma', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 500;
  color: #b3d5fc;
  text-transform: uppercase;

  background-color: #1f2021;
}

.chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.chart__title {
  width: 100%;
  margin-bottom: 70px;

  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.chart__data {
  width: 250px;
}

.chart__input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.chart__input-group:last-of-type {
  margin-bottom: 95px;
}

.chart__label {
  max-width: 140px;
  margin-right: auto;
}

.input-field {
  font-size: inherit;
  color: inherit;
  text-transform: uppercase;
  text-align: center;

  white-space: normal;
  border: 1px solid #b3d5fc;
  border-radius: 5px;
  background-color: transparent;
}

.chart__input {
  width: 60px;
  margin-right: 5px;
}

.chart__submit-button {
  width: 100%;
  padding: 10px;

  cursor: pointer;
}

.chart__submit-button:hover {
  color: #1f2021;

  background-color: #b3d5fc;
}

.chart__canvas-wrapper {
  height: 250px;
  border: 1px solid #b3d5fc;
  border-radius: 5px;
}
